##run_LargeRaid THREADS SCHEME SQCOUNT SIMULATEUNTIL
run_LargeRaid 6 MULTISET 1 100000
run_LargeRaid 6 MULTISET 1 100000
run_LargeRaid 6 MULTISET 2 100000
run_LargeRaid 6 MULTISET 2 100000
run_LargeRaid 6 MULTISET 3 100000
run_LargeRaid 6 MULTISET 3 100000

run_LargeRaid 6 SPLAYTREE 1 100000
run_LargeRaid 6 SPLAYTREE 1 100000
run_LargeRaid 6 SPLAYTREE 2 100000
run_LargeRaid 6 SPLAYTREE 2 100000
run_LargeRaid 6 SPLAYTREE 3 100000
run_LargeRaid 6 SPLAYTREE 3 100000
