##Simulation SimulationConfig THREADS SCHEME SQCOUNT SIMULATEUNTIL
run raidSim raid/LargeRaid 6 MULTISET 1 100000
run raidSim raid/LargeRaid 6 MULTISET 1 100000
run raidSim raid/LargeRaid 6 MULTISET 2 100000
run raidSim raid/LargeRaid 6 MULTISET 2 100000
run raidSim raid/LargeRaid 6 MULTISET 3 100000
run raidSim raid/LargeRaid 6 MULTISET 3 100000

#run_LargeRaid 6 SPLAYTREE 1 100000
#run_LargeRaid 6 SPLAYTREE 1 100000
#run_LargeRaid 6 SPLAYTREE 2 100000
#run_LargeRaid 6 SPLAYTREE 2 100000
#run_LargeRaid 6 SPLAYTREE 3 100000
#run_LargeRaid 6 SPLAYTREE 3 100000
