# FileName: simulation.config 

# Purpose : This is a configuration file that the simulation kernel
#           requires for configuring the different components in the 
#           simulation kernel.

# Notes   : Empty lines are ignored; a<F5>comment is indicated by a "//".

# Do you want debugging information to be shown
# Note: You will have to build with the -DDEVELOPER_ASSERTIONS flag turned
#       on before you can use this option.
# Choices:
# [a] True or False

DEBUG : TRUE 

# What type of simulation would you like:
# Choices: 
# [a] "Sequential"
# [b] "TimeWarp"

Simulation   : sequential

#SEQUENTIAL {
#  Scheduler {
#    Type : Default   # Only choice
#  }
# What type of event set data structure would you like:
# Choices: 
# [a] for Sequential simulation: "SplayTree" or "SingleLinkedList"
# [b] for TimeWarp simulation: "MultiSet"  


 EventList {
   Type : SplayTree   # could be MultiSet, or in the case of sequential it
                    # could be SplayTree or SingleLinkedList
   Organization : Decentralized
 }


